$colors: (
  common: (
    white: #ffffff,
    black: #0c1939,
    black-2: #0f1333,
    black-3: #10192f,
    black-4: #05092b,
    black-5: #191c3c,
    black-6: #102453,
    black-7: #0f1333,
    green: #3cb86c,
    green-2: #0bbf5e,
    orange: #ff6838,
    red: #ff485d,
    purple: #914eff,
    yellow: #ffa153,
    yellow-2: #feda03,
    pink: #fe5e78,
  ),
  heading: (
    primary: #0c1939,
  ),
  grey: (
    1: #f1f1f1,
    2: #f5f6f8,
  ),
  text: (
    body: #565d6d,
    1: #565d6d,
    2: #a8b0c3,
    3: #8d95a8,
    4: #818395,
    5: #c1c8db,
    6: #a1a3b2,
    7: #8991a5,
    8: #757d93,
    9: #bec4d2,
    10: #727694,
    11: #a5a7b6,
    12: #949cae,
    13: #999eaa,
    14: #8d8d8d,
  ),
  theme: (
    1: #3771fe,
    2: #007bff,

    dark: #05092b,
    dark-2: #05092b,
    white: #fff,
  ),
  border: (
    1: #191b1d,
    2: #121636,
    3: #dedede,
    4: #2d314b,
  ),
);

// prev dark color code 0F1333
